*{
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

body {
    background-color: rgb(0, 0, 0);
}

/* .body{
    background-image: url('/Web/image/index2_back.jpg');
    width: auto;
    height: 100%;
} */


.title {
    color: aliceblue;
    display: flex;
    margin-top: 8%;
    font-size: 5rem;
    font-weight: bold;
    justify-content: center;
    font-family: 'ImcreSoojin';
}

.text_input {
    display: flex;
    margin:10%  auto;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    text-align: 10px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 3px #67b5a5;
}

/* .input_btn {
    margin-top: 3%;
    display: flex;
    justify-content: center;
} */

.user_input_area {
    display: flex !important;
    justify-content: center !important;
    font-size: 0.7rem;
    padding-top: 6%;
}

.input_btn {
    margin-top: 3%;
    display: flex;
    justify-content: center;

}

.intro_bg {
    width: 100vw;
    height: 10vh;
    /* background-color: black; */
}

.header_head {
    color:rgb(255, 255, 255);
    transition: color 0.2s;
}
.header_head:hover {
    color: #4081F3;
    transform: scale(1.05);
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
}


.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    list-style: none;
}

/* .nav-link {
    color: white;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #4081F3;
    transform: scale(1.02);
} */




/* 검색창 */

@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  color: #000000;
}

:root {
  --border-radius: 10px;
}

body {
  background: #0d0d0d;
  display: grid;
  height: 100%;
  grid-template: 1fr/100%;
  place-items: center;
}

.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(76, 116, 154, 0.7), rgba(255, 255, 255, 0.8));
  overflow: hidden;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
  width: 1000px;
}

.CardInner {
  padding: 16px 16px;
  background-color: #0b0b0c;
  border-radius: var(--border-radius);
}

.container {
  display: flex;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
}
.Icon svg {
  transform: translate(-1px, -1px);
}

label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, #6b7b8f, #3c4b66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.InputContainer {
  width: 100%;
}

input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}
input::placeholder {
  color: #6d7f8f;
}
input:focus {
  outline: none;
  color: #6d7f8f;
  background-color: #eff5fa;
}

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.InputContainer:before, .InputContainer:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.InputContainer:before {
  box-shadow: var(--bottom-shadow);
}
.InputContainer:after {
  box-shadow: var(--top-shadow);
}

.Card{
    margin-top: 140px;
}

.munmar1 {
    font-family:'DNFBitBitv2';
    color: #eff5fa;
    margin-top: -50px;
}

.btn {
    margin-left: -898px;
    margin-top: -105px;
    height: 60px;
    width: 48px;
}

svg {
  pointer-events: none;
}

/* 배경 ? css */

#leaves1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  margin-top: 50px;
}

.leaf {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eff5fa;
  color: #eff5fa;
}

#leaves2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  margin-top: 450px;
}

#leaves3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  margin-top: 600px;
}

.fa-solid {
  margin: 0 4px;
}

.quest1 {
  margin-top: 9%;
  padding-bottom: 2%;
}

.Card {
  margin-top: 0px;
}